* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.logo img {
    width: 120px;
}

.header {
    /* position: fixed;
    top: 0;
    left: 0;
    background: white; */
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.section1 {
    background: linear-gradient(180deg, #fff, #f7f7f7);
    height: 80vh;
}

.top-container {
    width: 1200px;
    margin: auto;
}

.navbar-right-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar-right-side-item {
    text-decoration: none;
    color: black;
}

.navbar-right-side-item div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.navbar-right-side-dollar-sign {
    color: greenyellow;
}

.navbar-right-side-vertical-bar {
    opacity: 0.1;
}

.highlight-mainpage {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    background: linear-gradient(280deg, #fff, #f1f1f1);
    border-radius: 35px;
}

.highlight-mainpage-text {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 40px;
}

.highlight-mainpage-title {
    text-decoration: none;
    color: black;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.highlight-mainpage-img {
    border-radius: 15px;
    width: 50%;
}

.highlight-mainpage-title-spain {
    color: white;
    background: linear-gradient(-120deg, #e08100, #c90027);
    border-radius: 25px;
    padding: 8px 15px;
    width: fit-content;
}

.highlight-mainpage-share-button {
    font-weight: bold;
    display: flex;
    gap: 5px;
    /* align-items: center; */
    width: fit-content;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    background: rgb(221, 221, 221);
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.45s;
}

.highlight-mainpage-share-button:hover {
    background-color: white;
    padding: 8px 24px;
}

.highlight-mainpage-share-button svg {
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.45s;
}

.highlight-mainpage-share-button:hover svg {
    transform: rotate(45deg);
}

.bottom-container {
    display: flex;
    width: 1200px;
    gap: 20px;
    margin: auto;
    margin-top: 25px;
}

.card {
    width: 25%;
}
.card img {
    width: 100%;
    height: 175px;
    border-radius: 5px;
}
.bottom-slide-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.bottom-slide-container .wrapper-holder {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
}

.bottom-slide-container #slider-img-1 {
    background-image: url(https://mgl.gogo.mn/banner_gogo/banner/2024/09/19/news-b2/videourl/1726713669/b2.jpg);
    background-position: center;
    width: 270px;
    height: 270px;
}

.bottom-slide-container #slider-img-2 {
    background-image: url(https://mgl.gogo.mn/banner_gogo/banner/2024/11/18/news-b2/videourl/1731895031/Pagmadulam-gogo-banner-tom.jpg);
    background-position: center;
}

.bottom-slide-container #slider-img-3 {
    background-image: url(https://mgl.gogo.mn/banner_gogo/banner/2024/11/12/news-b2/videourl/1731381798/32156.jpg);
    background-position: center;
}

.bottom-slide-container #slider-img-4 {
    background-image: url(https://mgl.gogo.mn/banner_gogo/banner/2024/11/18/news-b2/videourl/1731906528/c83b19e4c6c5f8df1e710ae9457f4242.jpg);
    background-position: center;
}

.s2-container-title .gg-label-blue {
    font-size: 18px;
}

.gg-label-blue {
    color: white;
    background-color: #00b0f4;
    padding: 2px 3px;
    border-radius: 3px;
}

.story-container {
    display: flex;
    width: 1200px;
    margin: auto;
    gap: 20px;
}

.story-card {
    width: 25%;
    overflow: hidden;
    overflow-clip-margin: content-box;
    border-radius: 5px;
    height: 235px;
    position: relative;
}

.story-card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: 0.4s;
}

.story-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: white;
    padding: 10px;
}

.story-card:hover {
    cursor: pointer;
}

.innter-story {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.story-card:hover img {
    opacity: 1;
    transform: scale(1.1);
    /* overflow: hidden; */
    /* overflow-clip-margin: content-box; */
}

.gogo-story-icon {
    width: 30px !important;
    height: 30px !important;
}

.viewercount svg {
    width: 15px !important;
    height: 15px !important;
}

.viewercount {
    display: flex;
}

.story-card p:first-child {
    height: 32px;
    overflow: hidden;
}

.story-card:hover p:first-child {
    height: 74px;
}

.main-container{
    display: flex;
    width: 1200px;
    margin: auto;
}
.calendar{
    display: flex;
    align-items: end;
    gap: 20px;
    width: 75%;
    /* background-color: #407ce8   ; */
}

.calendar-title{
    margin-bottom: 5px;

}

.calendar-one-day{
    background: #407ce8;
    height: 7px;
    width: 120px;
    border-radius: 20px;
}

.calendar-one-day-second{
    background-color: #efefef;
    height: 7px;
    /* width: 120px; */
    width: 100%;
    border-radius: 20px;
}

.title-of-unuudur{
    margin-bottom: 5px;
    font-weight: 700;
}

.title-of-unuudur img{
    height: 26px;
    width: 26px;
    vertical-align: middle;
}
.home-calendar-container{
    text-align: center;
    font-size: 13px;
    color: #407ce8;
}

.home-calendar-container-second{
    text-align: center;
    font-size: 13px;
    color: #b7b6b6;
    width: 100%;
}

.home-calendar-container-second:hover{
    color: #407ce8;
    /* transform: scale(1.1); */
    transform: translateY(-3px);
}

.home-calendar-container-second:hover .calendar-one-day-second{
    background-color: #407ce8;
}

.calendar-more-button{
padding-left: 15px;
background: #efefef;
height: 27px;
line-height: 18px;
width: 27px;
text-align: center;
border-radius: 5px;
display: block;
}

.gogo-story-logo{
    max-width: 1200px;
    align-items: center;
    margin: auto;
    padding: 40px 0px 20px;
    gap: 10px;
}

.highlight-column-share-button {
    /* font-weight: bold; */
    display: flex;
    gap: 5px;
    /* align-items: center; */
    width: fit-content;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    /* border-radius: 15px; */
    background: white;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.45s;
}

.highlight-column-left{
    display: flex;
    margin: auto;
    width: 100%;
    
}

.highlight-column-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    gap: 30px;
}
